plan/n8n workflows/gerar previa completa/1.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preview-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -672
      ],
      "id": "4b8f6637-559e-4886-addf-132b9f64f53b",
      "name": "Webhook",
      "webhookId": "3273efa3-461e-42ce-a0a4-69f722c5a1dc"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -48,
        -672
      ],
      "id": "99e6c98c-20c7-4892-8871-93e8d9fa6068",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// Recebe: payload de preview (bookId, briefing, settings, callbackBaseUrl, etc.)\n// Faz: gera planning/TOC (capítulos + tópicos), opcionalmente refina title/subtitle\n\nconst bookId = $input.first().json.body.bookId;\n\nreturn {\n  bookId,\n  \"ok\": true, \n  \"received\": true, \n  \"accepted\": true,\n  \"jobId\": `n8n-preview-complete-001-${bookId}`,\n  \"type\": \"preview-complete\",\n  \"receivedAt\": $now,\n  // \"callbackBaseUrl\": \"http://localhost:3001/api\"\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -672
      ],
      "id": "9142dbcb-0817-4c9a-a31e-eb1094fff91a",
      "name": "Webhook response payload"
    },
    {
      "parameters": {
        "jsCode": "return $('Webhook').first().json.body;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -672
      ],
      "id": "357042de-d07e-449a-bc9e-e970bb7f90e2",
      "name": "Subworkflow payload"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vxxWYIGVHIkMy8pO",
          "mode": "list",
          "cachedResultUrl": "/workflow/vxxWYIGVHIkMy8pO",
          "cachedResultName": "CALLBACK: POST /hooks/n8n/preview-complete-result"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        -672
      ],
      "id": "4358cca6-f57f-44cb-9372-c415b570cf1a",
      "name": "Call 'CALLBACK: POST /hooks/n8n/preview-result-result'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook response payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Subworkflow payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook response payload": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subworkflow payload": {
      "main": [
        [
          {
            "node": "Call 'CALLBACK: POST /hooks/n8n/preview-result-result'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n-api.01.prod.bestsellers.digital",
          "user-agent": "node",
          "content-length": "466",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "168.195.209.8",
          "x-forwarded-host": "n8n-api.01.prod.bestsellers.digital",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "b68b110528ee",
          "x-n8n-secret": "dev-n8n-callback-secret-local",
          "x-real-ip": "168.195.209.8"
        },
        "params": {},
        "query": {},
        "body": {
          "bookId": "cmmcw0k23000x265fnuq4d3rj",
          "briefing": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "author": "aaaaa",
          "title": "Untitled",
          "subtitle": null,
          "creationMode": "GUIDED",
          "settings": null,
          "callbackBaseUrl": "http://localhost:3001",
          "planning": {
            "chapters": []
          },
          "chapters": [
            {
              "id": "ch1...",
              "sequence": 1,
              "title": "Introduction",
              "topics": []
            }
          ]
        },
        "webhookUrl": "https://n8n-api.01.prod.bestsellers.digital/webhook/preview",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a48d1229f0288ea9225e8edc3e36e5dcfde4181dcbee5a0b0df1d15d2594a88"
  }
}